<h2>使い方</h2>

<p>このサイトでは会員登録後にチャレンジの投稿ができるようになります。</p>
<p>サイドバーの『新しいチャレンジ』をクリック。</p>
<p>あなたが思う小さなチャレンジを投稿しましょう。期間は最短１分、最長１週間です。</p>
<p>難しすぎるものはNGです。ビッグマウスにならないようにご注意を。</p>
<%= image_tag "about_01", :size => '1000x400', class:"user_image" %>
<hr>

<p>チャレンジが終わったら結果も教えてくださいね。</p>
<p>もし達成できなかったチャレンジを見られるのが嫌でしたら非公開にできます。</p>
<p>チャレンジの詳細ページからボタンを押して切り替えてください。</p>
<%= image_tag "about_02", :size => '1000x400', class:"user_image" %>
<hr>

<p>サイドバーの、『みんなのチャレンジ』から</p>
<p>他の会員 = チャレンジャーの投稿をみることができます。</p>
<p>達成できたチャレンジは青枠で囲まれています。</p>
<%= image_tag "about_03", :size => '1000x400', class:"user_image" %>
<hr>


<p>達成できたチャレンジにはいいねの代わりにチーズを送りましょう。</p>
<p>1分のチャレンジなら２個、１週間のチャレンジなら１０個まで、</p>
<p>というようにチャレンジの期間が長いほど１度に送れるチーズの量が多くなります。</p>
<p>コメントも一緒に送れます。きっと喜ばれますよ。</p>
<%= image_tag "about_04", :size => '1000x400', class:"user_image" %>
<hr>


<p>獲得チーズ数のランキングもあるので挑戦してみてください。</p>
<p>みんながあなたを応援しています。</p>




















