<h1>SmallMouthへようこそ</h1>
<p>SmallMouthに遊びにきてくれてありがとうございます。<br>
    このサイトは、小さな目標を達成するためのサイトです。<br>
    やらなきゃいけないことなんだけど中々手が出ない...<br>
    そんな時はここに投稿して、たくさんの人に”やるぞ！”と宣言しちゃいましょう！<br>
    大口を叩くような無茶はせず、小さなことからコツコツとこなして行きませんか？
</p>
