<h1>SmallMouthへようこそ</h1>
<p>SmallMouthに遊びにきてくれてありがとうございます。</p>
<p>このサイトは、小さな目標を達成するためのサイトです。</p>
<p>やらなきゃいけないことなんだけど中々手が出ない...</p>
<p>そんな時はここに投稿して、たくさんの人に”やるぞ！”と宣言しちゃいましょう！</p>
<p>大口を叩くような無茶はせず、小さなことからコツコツとこなして行きませんか？</p>


<%= link_to"新しい目標を立てる", new_goal_path %>
