<hr>
<h3>現在取り組んでいるチャレンジはこちら！</h3>
<hr>
<% @goals.each do |goal| %>
    <%= link_to user_goal_path(goal.user.id, goal.id) do %>
        <%= "「" + goal.title + "」" %>
        <%= "期間 "+ goal.limit_time_i18n %>
        <%= goal.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    <% end %>
    <hr>
<% end %>