<h2>チャレンジ成功</h2>
<p>達成までよくがんばりました！素晴らしい！</p>
<p>小さな積み重ねがあなたの人生を大きく変えます。</p>
<p>１つ達成したという自信を持って、</p>
<p>ぜひまた新しいチャレンジにトライしてみてくださいね！</p>
<hr>
<p>今までに達成したチャレンジはこちら</p>
<%= link_to"あなたが達成したチャレンジ一覧へ", achieved_list_user_path(current_user.id) %>