<h2>チャレンジ失敗</h2>
<p>残念ですが、チャレンジを達成することはできませんでしたね。</p>
<p>次は目標を少しだけ小さくして達成を目指しましょう。</p>
<p>なぜ失敗してしまったかを考えてみるのも大切です。</p>
<p>詳細ページで記録を残すことができますので</p>
<p>一度使ってみてはいかがしょうでしょうか？</p>
<p>あなたの次のチャレンジが成功することを心待ちにしています。</p>
<hr>
<p>今回のチャレンジはこちらのページからみることができます</p>
<p><%= link_to"あなたが達成できなかったチャレンジ一覧へ", failed_list_user_path(current_user.id) %><p>
<p>他のチャレンジャーから見られるのが恥ずかしければ、こっそり非表示にしておきましょう。</p>