/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap"; 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Wawati SC','Osaka','Skia','HanziPen SC',sans-serif;
 }
 .clearfix::after {
    content: "";
    display: block;
    clear: both;
 }


 hr {
    height: 1px;
    border: none;
    border-top: 1px #E0E0E0 solid;
}

body{
    margin-top: 52px;
}

@keyframes move-stripe2 {
    0% {  background-position-x: 0;  }
    100% {  background-position-x: -34px;  }
}
.header {
    background: url("01.png");
    animation: move-stripe2 1s infinite linear;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    .container{
        margin: 0;
        padding: 0;
    }
    .md-form{
        float: right;
        width: 30%;
        height: 100%;
        margin-top: 13px;

        input[type="text"]{
            width: 75%;
            height: 100%;
        }
        #headersubmit{
            display: none;
        }
    }
    .navbar-brand{
        // width: 10%;
        padding: auto 0 auto 15px;
    }
    .navbar{
        margin-bottom: 0;
    }
    #mouse_img{
            margin-bottom: 6px;
    }
}
#sidebar{
    background-image: url("sidebar.jpg");
    background-size: contain;
    height: 100vh;
    position: fixed;
    top: 0;
    margin-top: 52px;

    .user_image{
        margin: 0 25%;
        border-radius: 50%;
    }

    .banner{
        color: #327AB7;
        line-height: 300%;
        text-align: center;
    }
}

footer{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFDC39;
}

.toTop {
    height: 100%;
    display: inline-block;
    background: #327AB7;
    color: #fff;
    cursor: pointer;
  }